<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>IP info</title>
</head>
<body>
    <h1>Request</h1>
    <h2>IP address info:</h2>
    <pre><%= address.request_ip %></pre>
    <h2>Headers info:</h2>
    <pre><%= headers %></pre>
</body>
</html>
